.wrapper {
    background: #FFF;
}

.wrapper--bg {
    background: #030f33;
    position: relative;
    h1 {
        position: absolute;
        left: -14px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 120px;
        line-height: 0.8;
        background: linear-gradient(to right, #0f1c44 0%, #030f33 76%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
    }
}

.wrapper--info {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
    .box--border {
        border: 5px solid #06fefe;
        width: 210px;
        height: 210px;
        color: #06fefe;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.box--thinking {
    padding: 0 50px 0 0;
    h2 {
        color: black;
        font-weight: 600;
    }
    p {
        color: black;
    }
}

.wrapper--specs {
    position: relative;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
    z-index: 10;
    li {
        margin: 35px 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        h5 {
            font-size: 1.50rem;
            line-height: 1;
            margin: 0;
            font-weight: 700;
        }
    }
}