.appstore-section {
  margin-top: 140px;
  padding-bottom: 50px;

  .row {
    margin-top: -15%;
  }
}

.appstore-section h2 {
  position: relative;
  top: -160px;

  &:nth-last-of-type(2) {
    color: #2e2e2e;
  }
}
