header {
  padding: 25px 0px;
}

header .navbar-collapse {
  justify-content: flex-end;
}

.lumos-leader {
  background-color: inherit;
  color: #fff;
  padding: 120px 0 70px 0;
}

.intro-text {
  font-weight: 700;
  text-transform: uppercase;
}