header {
    padding: 25px 0px;
}

.lumos-leader {
    background-color: inherit;
    color: #fff;
    padding: 150px 0 50px 0;
}

.intro-text {
    font-weight: 700;
    text-transform: uppercase;
}


