.lumos-logo{
    height: 50px;
    margin-left: -16px;
    margin-right:50px;
}

.nav-link{
    color: #fff;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.header-logo{
    position: absolute;
}

.navbar-nav {
    flex-direction: column !important;
}

.nav-link:hover , .lumos-logo:hover{
    color: #ff0080;
}

.navbar-expand-lg .collapse.navbar-collapse {
    flex-flow: row-reverse;
}

.navbar-collapse.collapse {
    display: flex!important;
  }

  @media only screen and (min-width: 500px) {
    .navbar-nav {
        flex-direction: row !important;
    }
}